@import '../utils/all';

.character-sheet-grid {
  .outer.col {
    padding-top: 20px
  }
}

.panel {
  background-color: $lightBrown;
  color: $darkRed;
  .fa {
    margin-right: 5px;
  }

  &.centered {
  	.panel-heading, .panel-body {
      text-align: center;
	    padding: 10px 0;
	  }
  }
}

span.panel.header {
  vertical-align: middle;

  &:hover {
    cursor: pointer;
  }

  svg {
    margin-right: 5px;
  }
}

.ability-score {
  &.value {
    width: 50%;
    float: left;
    border-right: 1px solid $darkGreen;
  }
  &.mod {
    width: 50%;
    float: right;
  }
}