.character-menu {}

.character-menu-node {
  margin-left: 5px;
}

.character-menu-node-label {
  margin-left: 3px;
  padding: 1px;
  border: 1px solid #fff;
  border-radius: 5px;
}

// This doesn't work yet, I think it needs JQuery?
.character-menu-node-label.selected {
  border: 1px solid #003f81;
  border-radius: 3px;
  background-color: red;
}

.character-menu-node-checkbox {}
