@import '../utils/all';

.header {
  &.row {
  }

  .panel {
    margin-top: 10px;
  }
}

.panel {
  background-color: $lightRed;
  color: $darkGray;
  .fa {
    margin-right: 5px;
  }

  &.centered {
  	.panel-heading, .panel-body {
      text-align: center;
	    padding: 10px 0;
	  }
  }
}

span.panel.header {
  vertical-align: middle;
  background: none;

  &:hover {
    cursor: pointer;
  }

  svg {
    margin-right: 5px;
  }
}

.ability-score {
  &.value {
    width: 50%;
    float: left;
    border-right: 1px solid gray;
  }
  &.mod {
    width: 50%;
    float: right;
  }
}

.minus {
  margin-right: 5px;
}
