.character-tree {}

.character-tree-node {
  margin-left: 5px;
}

.character-tree-node-label {
  margin-left: 3px;
  padding: 1px;
  border: 1px solid #fff;
  border-radius: 5px;
}

// This doesn't work yet, I think it needs JQuery?
.character-tree-node-label.selected {
  border: 1px solid #003f81;
  border-radius: 3px;
  background-color: red;
}

.character-tree-node-checkbox {}

.navigation {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  
  button {
    flex-basis: calc(100% / 3);
    
    &:not(:first-child) {
      margin-left: 5px;
    }
  }
}
