$navyBlue1: #18121E;
$gunmetal: #233237;
$rustyRed: #984B43;

$blackboard: #565656;
$oxblood: #76323F;

$forest: #1E392A;

$ivoryBlack: #1D2731;

$steel: #0A1612;
$denim: #1A2930;

$navyBlue2: #0F1626;

$indigo: #30415D;
$ultramarine: #031424;

$deepPlum: #1A0315;
$shadow: #535353;

$charcoal: #3C3C3C;
$herb: #626E60;
$chilli: #AF473C;

$greenery: #373F27;
$stem: #363B46;

$matte: #414141;

$navy3: #22252C;
$mountain: #3F3250;
$coral: #E14658;
$scrub: #C0B3A0;