
$baseBrown: #552600;
$darkBrown: #371900;
$blackBrown: #110800;
$lightBrown: #AA6D3A;
$whiteBrown: #CCB7A7;

$baseGreen: #395000;
$darkGreen: #253400;
$blackGreen: #0B1000;
$lightGreen: #82A037;
$whiteGreen: #B9BCB1;

//$baseRed: #550200;
//$darkRed: #370200;
//$blackRed: #110000;
//$lightRed: #AA3D3A;
//$whiteRed: #CCA8A7;

//New Theme
$baseRed: #350001;
$lightRed: #861215;
$brightRed: #760003;
$dullGray: #1E1415;
$darkGray: #080303;
$white: #FFFFFF;
$whiteGray: #B9BCB1;
