@import 'utils/all';

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background-color: $gunmetal;
  color: #FFFFFF;
  -webkit-user-select: none;
}

#app {
  height: 100%;
  width: 100%;
}