.sidebar {
    display: block;

    div {
        position: absolute;
        z-index: 2;
        top: 0;
        width: $sidebar-width; 
        height: 100%; 
        @include border-box; 
        @include transition(-webkit-transform ease 250ms); 
        @include transition(transform ease 250ms);

        &.left {
            background: #273D7A;
            left: $sidebar-width*-1;
        }

        &.visible.left {
            @include transform(translate3d($sidebar-width, 0, 0));
        }
    }
}
