#app-tabs {
  height: 100%;
  width: 100%;
}

$app-tabs-height: 47px;
.nav-tabs {
  height: $app-tabs-height;
  padding-top: 5px;
  border-bottom-width: 2px;

  li {
    margin-left: 10px;
  }
}

.tab-content {
  width: 100%;
  height: calc(100% - #{$app-tabs-height});

  div {
    height: 100%;
  }
}
