@import '../utils/all';

.character-sheet {
  height: 100%;
  width: 100%;
}

.character-sheet-grid {
  .col {
    background: #ffffff;
    color: black;
  }
}

.exit {
  position: absolute;
  height: 50px;
  width: 50px;
  
  &:hover {
    cursor: pointer;
    color: #FFFFFF;
  }
}

.edit {
  position: absolute;
  right: 0;
  height: 50px;
  width: 50px;

  &:hover {
    cursor: pointer;
    color: #FFFFFF;
  }
}