@import '../utils/all';

.character-sheet {
  height: 100%;
  width: 100%;
}

.character-sheet-grid {
  .col {
    color: $whiteRed;
  }
}

.exit {
  position: absolute;
  height: 50px;
  width: 50px;
  
  &:hover {
    cursor: pointer;
    color: $whiteGreen;
  }
}
